#container { 
   float: right;
   color: #353535;
   height: 30px;
}

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton { 
    float: right;
    cursor:pointer;
	min-height: 30px;
}
.ava_bar
{
	width: 50px;
	height: 50px;
	background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 1px;
}
.ava_bar:hover
{
    border: 1px solid #7D7D7D;
}
/* Login Button Text */
#loginButton {
	padding: 0 7px;
}
#loginButton span {
    color: #353535; 
    padding: 0 12px 0 0;
    display:block;
	background: url(../images/arrow_black.png) right no-repeat;
	margin: 5px 0 0;
}

/*#loginButton:hover {
    background:url(../images/buttonbgHover.png) repeat-x;
}
*/
/* Login Box */
#loginBox {
    top: 35px;
    right:0;
    display:none;
    z-index:29;
	color: #353535;
}

/* If the Login Button has been clicked */    
#loginButton.active, #loginButton.active:hover {
	background: #eee;
	border-bottom: none;
	color: #353535;
}
#loginButton:hover
{
	background: #eee;
}

#loginButton.active span {
    background: url(../images/arrow_black.png) right no-repeat;
	color: #353535;
}
#loginButton:hover span {
    background: url(../images/arrow_black.png) right no-repeat;
	color: #353535;
}

/* A Line added to overlap the border
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}
*/
/* Login Form */
#loginForm {
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    background:#fff;
    padding:6px;
	position: relative;
	z-index: 2;
	box-shadow: 0 12px 25px rgba(0, 0, 0, 0.58);
	color: #353535;
}
#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}
#loginForm ul
{
	padding-top: 5px;
	font-size: 11px;
	margin-bottom: -10px;
	float: right;
	margin-top: -50px;
	margin-left: 60px;
	text-transform: none;
}
#loginForm ul li
{
	margin-top: -14px;
}
#loginForm ul li a
{
	text-transform: none;
}
fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding: 10px 13px 0 13px;
    margin:0;
	color: #353535;
}
fieldset#body a {
	color: #353535;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#353535;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float: left;
    margin: 0;
}

/* Default Input */
#loginForm input {
	float: right;
    width: 170px;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#353535;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/loginbuttonbg.png) repeat-x;
    color:#353535;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    /*padding:7px 0 4px 0;*/
}

#loginForm span a {
    color:#353535;
    text-shadow:1px 1px #fff;
    font-size:12px;
}